.about {
  position: relative;
  z-index: 10;
  background-color: $blue_400;
  padding-top: 30px;
  padding-bottom: 52px;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 100%;
    background-color: $blue_400;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      height: 60px;
      bottom: -60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }

    @media (min-width: $desktop-width) {
      height: 60px;
      bottom: -60px;
      border-bottom-left-radius: 56px;
      border-bottom-right-radius: 56px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 91.25%;
    right: 2.5%;
    top: 0;
    height: calc(100% + 30px);
    background-image: url("../img/about-bg-mobile.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    z-index: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/about-bg-mobile@2x.png");
      //background-size: 91.25% auto;
    }

    @media (min-width: $tablet-width) {
      background-image: url("../img/about-bg-tablet.png");
      width: 376px;
      height: 548px;
      background-size: contain;
      right: 50%;
      transform: translateX(100%);
      top: 49px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/about-bg-tablet@2x.png");
        background-size: 376px auto;
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/about-bg-desktop.png");
      width: 630px;
      height: 665px;
      top: inherit;
      bottom: -60px;
      transform: translateX(105%);

      @media (min-resolution: 2dppx) {
        background-image: url("../img/about-bg-desktop@2x.png");
        background-size: 630px auto;
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 36px;
    padding-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 128px;
    padding-bottom: 103px;
  }
}

.about__wrapper {
  position: relative;
  padding-left: 7.4%;

  &::before {
    content: "";
    position: absolute;
    top: -33px;
    left: -7.81%;
    width: 113px;
    height: 132px;
    background-color: $blue_250;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      height: 212px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;
      border-radius: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 212px;
      height: 212px;
      top: -62px;
      left: 0;
      transform: inherit;
    }
  }

  @media (min-width: $tablet-width) {
    width: 89.583%;
    min-width: 688px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
    padding-left: 70px;
  }
}

.about__title {
  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
    width: 100%;
  }
}

.about__description {
  position: relative;
  margin: 0;
  color: $white;
  max-width: 224px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    margin-left: 4.941%;
    max-width: 309px;
  }

  @media (min-width: $desktop-width) {
    max-width: 619px;
    line-height: 34px;
    margin-bottom: 87px;
    margin-left: 0;
  }
}

.about__to-invite {
  display: block;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 31px;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    max-width: 425px;
    margin-top: 36px;
    margin-bottom: 0;
  }
}

.about__link {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 276px;
    height: 80px;
    padding: 28px 0 28px 33px;
    box-sizing: border-box;
    justify-content: flex-start;
    margin-left: 4.941%;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }

  &::after {
    @media (min-width: $tablet-width) {
      right: 33px;
    }
  }
}
