.btn {
  @include button-reset;
  @include link_reset;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $blue_200;
  box-sizing: border-box;

  &:active {
    color: $blue_200_03;
  }

  &--oval {
    border-radius: 25px;
  }

  &--yellow {
    background-color: $yellow_100;

    &:hover {
      background-color: $yellow_300;
    }

    &:active {
      background-color: $yellow_300;
    }

    &:focus {
      outline: 2px solid $blue_400;
    }
  }

  &--rectangle {
    border-radius: 10px;
  }

  &--border {
    border: 3px solid $blue_400;
    box-sizing: border-box;
  }

  &--white {
    background-color: $white;

    &:focus {
      outline: 2px solid $blue_400;
    }
  }

  &--blue {
    &:hover {
      color: $white;
      background-color: $blue_400;

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3846 7L0.134644 13.4952L0.134644 0.504809L11.3846 7Z' fill='white'/%3E%3C/svg%3E%0A");
      }
    }

    &:active {
      color: $white_03;
      background-color: $blue_400;

      &::after {
        opacity: 0.3;
      }
    }

    &:focus {
      outline: 2px solid $yellow_100;
    }
  }

  &--left {
    justify-content: flex-start;
    padding-left: 23px;
    position: relative;

    &:active {
      &::after {
        opacity: 0.3;
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 13px;
      height: 13px;
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0698 6.07495L0.157238 11.7041L0.157238 0.445786L10.0698 6.07495Z' fill='%231D2E5B'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        right: 32px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}
