.for-user__link {
  @include link_reset;

  position: relative;
  display: flex;
  align-items: center;
  height: 45px;
  padding-left: 61px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $blue_400;
  text-transform: uppercase;


  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: $blue_600;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    top: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      width: 68px;
      height: 68px;
    }

    @media (min-width: $desktop-width) {
      width: 90px;
      height: 90px;
    }
  }

  &--yellow {
    color: $yellow_100;

    &:hover {
      color: $yellow_300;
    }

    &:active {
      color: $yellow_100_03;
    }
  }

  @media (min-width: $tablet-width) {
    height: 68px;
    padding-left: 91px;
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    height: 90px;
    padding-left: 121px;
  }
}

.for-user__link-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--phone {
    left: 14px;

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 23px;
      left: 22px;
    }

    @media (min-width: $desktop-width) {
      width: 32px;
      height: 30px;
      left: 29px;
    }
  }

  &--email {
    left: 14px;

    @media (min-width: $tablet-width) {
      width: 28px;
      height: 19px;
      left: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 37px;
      height: 25px;
      left: 27px;
    }
  }
}
