.tooltip {
  display: none;
  position: absolute;
  padding: 17px 25px 17px;
  background-color: $blue_700;
  color: $white;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  height: 56px;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 10;
  width: max-content;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0L13.9282 7.5H0.0717969L7 0Z' fill='%23101D41'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    left: 50%;
    top: 3px;
    transform: translateX(-50%) translateY(-100%);
  }
}
