.about {
  position: relative;
  z-index: 10;
  background-color: $blue_400;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 320px;
    background-color: $blue_400;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

.about__description {
  margin: 0;
  color: $white;
}

.about__to-invite {
  display: block;
  margin-top: 20px;
}

.about__link {
  display: none;
}
