.address {
  position: relative;
  padding-top: 47px;
  background-color: $yellow_100;
  z-index: 3;

  &::after {
    content: "";
    position: absolute;
    bottom: -34px;
    left: 50%;
    transform: translateX(-50%);
    height: 34px;
    width: 320px;
    background-color: $yellow_100;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

.address__value {
  position: relative;
  padding-left: 61px;
  max-width: 160px;
  font-weight: bold;
  text-transform: uppercase;
  color: $blue_200;
}
