.break {
  display: inline-block;

  &:after {
    content: "\00a0";
  }

  &--mobile {
    @media (min-width: $tablet-width) {
      content: "\00a0";
    }
  }

  &--tablet {
    content: "\00a0";

    @media (min-width: $tablet-width) {
      content: inherit;
    }

    @media (min-width: $desktop-width) {

      content: "\00a0";
    }
  }

  &--desktop {
    content: "\00a0";

    @media (min-width: $desktop-width) {
      content: inherit;
    }
  }

  &--not-mobile {
    content: "\00a0";

    @media (min-width: $tablet-width) {
      content: inherit;
    }
  }

  &--not-tablet {
    @media (min-width: $tablet-width) {

      content: "\00a0";
    }

    @media (min-width: $desktop-width) {
      content: inherit;
    }
  }

  &--not-desktop {
    @media (min-width: $desktop-width) {

      content: "\00a0";
    }
  }
}
