.break {
  &--mobile {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &--not-mobile {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--not-tablet {
    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &--not-desktop {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}
