.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 270px;
  height: 62px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $blue_200;

  @include button-reset;
  @include link_reset;

  &--oval {
    border-radius: 25px;
  }

  &--yellow {
    background-color: $yellow_100;
  }

  &--rectangle {
    border-radius: 10px;
  }

  &--border {
    border: 3px solid $blue_400;
    box-sizing: border-box;
  }
}
