.calendar {
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 19px;
  }
}

.calendar__nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $grey_370;
  border-bottom: 1px solid $grey_370;

  @media (min-width: $tablet-width) {
    height: inherit;
  }
}

.calendar__nav-value {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: $blue_200;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 23px;
    padding-bottom: 25px;
  }
}

.calendar__content {
  margin-top: 16px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 38px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
    margin-bottom: 57px;
  }
}

.calendar__title-list {
  @include clear_list;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 30px;
  gap: 0 0;
  align-items: center;
  justify-items: center;
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    grid-auto-rows: 18px;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.calendar__title-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: $white;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  &--weekend {
    color: $orange_900;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    padding-left: 35px;
  }
}

.calendar__title-extended {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.calendar__days-list {
  @include clear_list;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 31px;
  gap: 0 0;
  align-items: center;
  justify-items: center;
  border-left: 1px solid $grey_370;
  border-top: 1px solid $grey_370;

  @media (min-width: $tablet-width) {
    grid-auto-rows: 69px;
  }

  @media (min-width: $desktop-width) {
    grid-auto-rows: 71px;
  }
}

.calendar__days-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $grey_100;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  border-right: 1px solid $grey_370;
  border-bottom: 1px solid $grey_370;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 16px;
    padding-top: 14px;
  }

  &--disable {
    color: $grey_03;
    background-color: $white;
    font-weight: 400;
  }

  &--selected {
    background: $blue_200;
    color: $white;
    font-weight: 500;

    @media (min-width: $desktop-width) {
      flex-direction: column;
      font-weight: 400;
      padding-top: 12px;
      padding-left: 16px;
      line-height: 24px;
    }
  }

  &--focus {
    border: 2px solid #FF5C23;
    box-sizing: border-box;

    @media (min-width: $desktop-width) {
      padding-top: 9px;
      padding-left: 12px;
    }
  }
}

.calendar__days-extended {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.calendar__date {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.calendar__nav-prev {
  @include button-reset;
  width: 15px;
  height: 21px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='21' viewBox='0 0 15 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.3'%3E%3Cpath d='M11.8116 1.40061C11.713 1.28894 11.5958 1.20035 11.4668 1.1399C11.3378 1.07945 11.1994 1.04834 11.0598 1.04834C10.9201 1.04834 10.7818 1.07945 10.6528 1.1399C10.5238 1.20035 10.4066 1.28894 10.3079 1.40061L3.24844 9.37194C3.16968 9.46069 3.1072 9.5661 3.06457 9.68214C3.02194 9.79818 3 9.92258 3 10.0482C3 10.1738 3.02194 10.2982 3.06457 10.4143C3.1072 10.5303 3.16968 10.6357 3.24844 10.7245L10.3079 18.6958C10.7242 19.1658 11.3953 19.1658 11.8116 18.6958C12.2279 18.2258 11.883 17.7322 11.4668 17.2622L7.74854 13.0836L5.12914 10.0172L11.8207 2.30298C11.8207 2.30298 12.2279 1.86105 11.8116 1.40061Z' fill='black'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 19px;
    height: 34px;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='35' viewBox='0 0 20 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.9389 0.909048C18.7326 0.698127 18.4875 0.530784 18.2176 0.416605C17.9477 0.302425 17.6584 0.243652 17.3662 0.243652C17.0741 0.243652 16.7848 0.302425 16.5149 0.416605C16.245 0.530784 15.9999 0.698127 15.7936 0.909048L1.02659 15.966C0.861855 16.1336 0.731159 16.3328 0.641986 16.5519C0.552813 16.7711 0.506912 17.0061 0.506912 17.2434C0.506912 17.4807 0.552813 17.7157 0.641986 17.9349C0.731159 18.1541 0.861855 18.3532 1.02659 18.5208L15.7936 33.5778C16.6643 34.4656 18.0682 34.4656 18.9389 33.5778C19.8096 32.6899 19.2654 31.7144 18.3946 30.8266L5.3349 17.2434L18.3946 3.59045C18.8969 3.07657 19.8096 1.77876 18.9389 0.909048Z' fill='black'/%3E%3C/svg%3E%0A");
    margin-left: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.calendar__nav-next {
  @include button-reset;
  width: 15px;
  height: 21px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='21' viewBox='0 0 14 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.3'%3E%3Cpath d='M3.06949 19.3693C3.16815 19.481 3.28536 19.5695 3.41439 19.63C3.54343 19.6904 3.68176 19.7216 3.82146 19.7216C3.96117 19.7216 4.0995 19.6904 4.22853 19.63C4.35757 19.5695 4.47477 19.481 4.57344 19.3693L11.6343 11.398C11.7131 11.3092 11.7756 11.2038 11.8182 11.0878C11.8609 10.9717 11.8828 10.8473 11.8828 10.7217C11.8828 10.5961 11.8609 10.4717 11.8182 10.3556C11.7756 10.2396 11.7131 10.1342 11.6343 10.0454L4.57344 2.07408C4.15709 1.60405 3.48584 1.60405 3.06949 2.07408C2.65314 2.54411 3.32374 3.3591 3.74009 3.82913L9.82453 10.7217L3.41439 17.972C3.00654 18.4324 2.65314 18.9089 3.06949 19.3693Z' fill='black'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 19px;
    height: 34px;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='35' viewBox='0 0 20 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.08281 34.0563C1.2891 34.2672 1.53416 34.4345 1.80396 34.5487C2.07376 34.6629 2.363 34.7217 2.65511 34.7217C2.94721 34.7217 3.23645 34.6629 3.50625 34.5487C3.77605 34.4345 4.02111 34.2672 4.2274 34.0563L18.991 18.9993C19.1557 18.8317 19.2864 18.6326 19.3755 18.4134C19.4647 18.1942 19.5106 17.9592 19.5106 17.7219C19.5106 17.4846 19.4647 17.2496 19.3755 17.0305C19.2864 16.8113 19.1557 16.6122 18.991 16.4445L4.2274 1.38755C3.35686 0.499718 1.95335 0.499718 1.08281 1.38755C0.212271 2.27539 0.741529 3.61216 1.61207 4.5L14.334 17.7219L1.61207 31C0.759295 31.8697 0.212271 33.1866 1.08281 34.0563Z' fill='black'/%3E%3C/svg%3E%0A");
    margin-right: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}
