.companions {
  position: relative;
  z-index: 7;
  background-color: $blue_400;
  margin-top: -11px;
  padding-top: 102px;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 320px;
    background-color: $blue_400;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

.companions__description {
  margin: 0 0 54px;
  color: $basic_white;
}

.companions__motivation {
  display: block;
  margin-top: 25px;
}

.companions__list {
  @include clear_list;
}

.companions__item {
  margin-bottom: 9px;
}
