.companions {
  position: relative;
  z-index: 7;
  background-color: $blue_400;
  margin-top: -11px;
  padding-top: 102px;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 100%;
    background-color: $blue_400;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    @media (min-width: $tablet-width) {
      height: 60px;
      bottom: -60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }

    @media (min-width: $desktop-width) {
      height: 56px;
      bottom: -56px;
      border-bottom-left-radius: 56px;
      border-bottom-right-radius: 56px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 64px;
    height: 71px;
    left: 160px;
    top: 325px;
    transform: translateX(-160px);
    background-image: url("../img/rogovaya-back-mobile.png");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 143px;
      height: 143px;
      background-image: url("../img/smolov-back-tablet.png");
      top: 448px;
      left: 6%;
      transform: inherit;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 163px;
    padding-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 78px;
    padding-top: 231px;
  }
}

.companions__wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 143px;
    height: 143px;
    right: 0;
    top: -34px;
    background-image: url("../img/smolov-back-mobile.png");
    background-repeat: no-repeat;
    z-index: -1;

  @media (min-width: $tablet-width) {
    width: 285px;
    height: 285px;
    background-image: url("../img/rogovaya-back-tablet.png");
  }
  }

  &::after {
    content: "";
    position: absolute;
    top: -35px;
    left: 135px;
    transform: translateX(-135px);
    margin-left: -9.259%;
    width: 113px;
    height: 132px;
    background-color: $blue_250;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      width: 212px;
      height: 212px;
      border-radius: 20px;
      top: -70px;
      left: -33px;
      transform: inherit;
      margin-left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 80.468%;
    min-width: 618px;
  }

  @media (min-width: $desktop-width) {
    width: 91.66%;
    min-width: 1320px;
    display: grid;
    grid-template-columns: 47.727% 47.727%;
    grid-template-rows: min-content min-content min-content;
    gap: 0;
    grid-template-areas:
      "title list"
      "desc list"
      "btn list";
    justify-content: space-between;
  }
}

.companions__title {
  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    grid-area: title;
    margin: 0 0 55px;
    padding-left: 71px;
  }
}

.companions__description {
  margin: 0 0 54px;
  color: $white;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 34px;
    margin: 0 0 59px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    grid-area: desc;
    padding-left: 71px;
    margin-bottom: 85px;
    line-height: 33px;
  }
}

.companions__motivation {
  display: block;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 39px;
    font-size: 21px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 42px;
  }
}

.companions__list {
  @include clear_list;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-area: list;
    margin-bottom: 0;
  }
}

.companions__item {
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    width: 46.116%;
    margin-right: 46px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 45.238%;
    margin-right: 60px;
  }
}

.companions__link {
  height: 61px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    height: 80px;
    padding-left: 32px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    grid-area: btn;
    margin-left: 71px;
    width: 280px;
  }
}

.companions__status {
  right: inherit;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
}
