.companions {
  position: relative;
  z-index: 7;
  background-color: $blue_400;
  margin-top: 0;
  padding-top: 96px;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 100%;
    background-color: $blue_400;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    @media (min-width: $tablet-width) {
      height: 60px;
      bottom: -60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }

    @media (min-width: $desktop-width) {
      height: 60px;
      bottom: -57px;
      border-bottom-left-radius: 56px;
      border-bottom-right-radius: 56px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 64px;
    height: 71px;
    left: 160px;
    top: 338px;
    transform: translateX(-160px);
    background-image: url("../img/rogovaya-back-mobile.jpg");
    background-repeat: no-repeat;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    opacity: 0.14;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rogovaya-back-mobile@2x.jpg");
      background-size: 64px auto;
    }

    @media (min-width: $tablet-width) {
      width: 143px;
      height: 143px;
      background-image: url("../img/smolov-back-tablet.jpg");
      top: 449px;
      left: 5%;
      transform: inherit;
      opacity: 1;
      border-radius: 12px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/smolov-back-tablet@2x.jpg");
        background-size: 143px auto;
      }
    }

    @media (min-width: $desktop-width) {
      top: 194px;
      left: 50%;
      transform: translateX(-173px);
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 163px;
    padding-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    padding-top: 187px;
  }
}

.companions__wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 143px;
    height: 143px;
    right: 0;
    top: -31px;
    background-image: url("../img/smolov-back-mobile.jpg");
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 11px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/smolov-back-mobile@2x.jpg");
      background-size: 143px auto;
    }

    @media (min-width: $tablet-width) {
      width: 285px;
      height: 285px;
      background-image: url("../img/rogovaya-back-tablet.jpg");
      top: -60px;
      opacity: 0.14;
      border-radius: 20px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/rogovaya-back-tablet@2x.jpg");
        background-size: 285px auto;
      }
    }

    @media (min-width: $desktop-width) {
      top: inherit;
      right: inherit;
      left: 130px;
      bottom: 25px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: -32px;
    left: 135px;
    transform: translateX(-135px);
    margin-left: -9.259%;
    width: 113px;
    height: 132px;
    background-color: $blue_250;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      width: 212px;
      height: 212px;
      border-radius: 20px;
      top: -70px;
      left: -33px;
      transform: inherit;
      margin-left: 0;
    }

    @media (min-width: $desktop-width) {
      top: -60px;
      left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 80.468%;
    min-width: 618px;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
    display: grid;
    grid-template-columns: 630px 630px;
    grid-template-rows: min-content min-content min-content;
    gap: 0;
    grid-template-areas:
      "title list"
      "desc list"
      "btn list";
    justify-content: space-between;
    padding-bottom: 70px;
  }
}

.companions__title {
  padding-left: 9.259%;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    grid-area: title;
    margin: 0 0 46px;
    padding-left: 69px;
  }
}

.companions__description {
  margin: 0 0 54px;
  color: $white;
  padding-left: 9.259%;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 34px;
    margin: 0 0 62px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    grid-area: desc;
    padding-left: 70px;
    margin-bottom: 78px;
    line-height: 33px;
  }
}

.companions__motivation {
  display: block;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 39px;
    font-size: 21px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 42px;
  }
}

.companions__list {
  @include clear_list;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-area: list;
    margin-bottom: 0;
    margin-top: 7px;
  }
}

.companions__item {
  margin-bottom: 9px;
  background-color: $white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 46.116%;
    margin-right: 48px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    margin-right: 60px;
  }
}

.companions__link {
  height: 61px;

  &::after {
    @media (min-width: $tablet-width) {
      right: 32px;
    }
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    height: 80px;
    padding-left: 32px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 615px;
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    grid-area: btn;
    margin-left: 71px;
    width: 280px;
  }
}

.companions__status {
  right: inherit;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    left: -23px;
    margin-top: 2px;
  }
}
