.company-choice {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-area: filter;
  }
}

.company-choice__wrapper {
  background-color: $yellow_100;
  border-radius: 20px;

  @media (min-width: $desktop-width) {
    min-width: inherit;
    margin: 0;
    width: 100%;
  }
}

.company-choice__form {
  padding: 26px 20px 22px;

  @media (min-width: $tablet-width) {
    padding: 37px 36px 37px 34px;
  }

  @media (min-width: $desktop-width) {
    padding: 46px 46px 48px 48px;
  }
}

.company-choice__form-name {
  max-width: 150px;
  margin: 0 0 23px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $blue_200;
  padding-left: 5px;
  padding-right: 5px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;
    max-width: inherit;
    padding: 0 0 38px;
    border-bottom: 1px solid $yellow_500;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    max-width: 191px;
    border-bottom: none;
    padding-bottom: 0;
  }
}

.company-choice__group {
  @include fieldset-reset;

  padding-left: 5px;
  padding-right: 5px;

  &--close {
    .company-choice__group-title::before {
      transform: translateY(-50%) rotate(0deg);
    }

    .company-choice__group-list {
      display: none;

      @media (min-width: $tablet-width) {
        display: flex;
      }

      @media (min-width: $desktop-width) {
        display: none;
      }
    }
  }

  &:last-of-type {
    margin-bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.company-choice__group-container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: minmax(min-content, 104px) 1fr;
    grid-template-rows: min-content;
    gap: 0 18px;
    grid-template-areas: "label input";
    align-items: center;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 19px;
  }
}

.company-choice__group-title {
  position: relative;
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $blue_200;
  padding-top: 12px;
  padding-bottom: 14px;
  border-top: 1px solid $yellow_500;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: 10px;
    height: 6px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 5L0.669872 0.5L9.33013 0.5L5 5Z' fill='%23192144'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    border-top: none;
    padding: 0;
    font-size: 20px;
    line-height: 20px;

    &::before {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
    line-height: 22px;

    &::before {
      content: "";
    }
  }
}

.company-choice__group-list {
  @include clear_list;

  margin-top: 2px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-top: 23px;
    margin-bottom: 32px;
  }
}

.company-choice__group-item {
  display: flex;
  align-items: center;
  height: 26px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 33.333%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.company-choice__transport-list {
  display: flex;
  flex-wrap: wrap;
  height: 31px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}

.company-choice__transport-item {
  margin-right: 1px;
  height: 31px;

  &--avia {
    .input-choice__field + .input-choice__caption::before {
      background-image: url("../img/avia.svg");
    }
  }

  &--bus {
    .input-choice__field + .input-choice__caption::before {
      background-image: url("../img/bus.svg");
    }
  }

  &--bike {
    .input-choice__field + .input-choice__caption::before {
      background-image: url("../img/bike.svg");
    }
  }

  &--foot {
    .input-choice__field + .input-choice__caption::before {
      background-image: url("../img/foot.svg");
    }
  }

  @media (min-width: $tablet-width) {
    width: inherit;
    height: inherit;
  }
}

.company-choice__btn {
  height: 41px;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    height: 50px;
  }
}

