.countries {
  position: relative;
  z-index: 8;
  background-color: $grey_100;
  padding-top: 101px;
  margin-top: -30px;
  padding-bottom: 5px;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 100%;
    background-color: $grey_100;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    @media (min-width: $tablet-width) {
      bottom: -60px;
      height: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }

    @media (min-width: $desktop-width) {
      height: 56px;
      bottom: -56px;
      border-bottom-left-radius: 56px;
      border-bottom-right-radius: 56px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 162px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.countries__wrapper {
  @media (min-width: $tablet-width) {
    width: 80.468%;
    min-width: 618px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 47.878% 38.636%;
    grid-template-rows: min-content min-content min-content;
    gap: 0;
    grid-template-areas:
      "list title"
      "list desc"
      "list btn";
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 91.66%;
    min-width: 1320px;
  }
}

.countries__title {
  @media (min-width: $desktop-width) {
    grid-area: title;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.countries__description {
  margin: 0 0 60px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 104px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    grid-area: desc;
    margin-bottom: 0;
  }
}

.countries__list {
  @include clear_list;

  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    grid-area: list;
    padding-left: 70px;
  }
}

.countries__item {
  position: relative;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 22px;
  }
}

.countries__cover {
  @include image;
  width: 100%;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 29.935%;
    height: 100%;
    right: 0;
    z-index: 5;
  }
}

.countries__flag {
  @include image;
  //width: 10.927%;
  width: 35px;
  position: absolute;
  left: 25px;
  bottom: 89px;
  transform: translateY(50%);
  margin-top: -5px;
  z-index: 5;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
    left: inherit;
    bottom: inherit;
    right: 30.032%;
    top: 17px;
    transform: translateX(35px);
  }

  @media (min-width: $desktop-width) {
    top: 23px;
  }
}

.countries__country {
  position: relative;
  z-index: 2;
  background-color: $white;
  border-radius: 10px;
  margin-top: -11px;
  padding-top: 26px;
  padding-left: 24px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-left: 29px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 24px;
    padding-left: 31px;
    padding-bottom: 23px;
  }
}

.countries__name {
  margin: 0 0 2px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}

.countries__intro {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.countries__visited {
  position: absolute;
  right: 24px;
  top: 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $blue_500_03;

  &::before {
    content: "";
    position: absolute;
    left: -17px;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 12px;
    background-image: url("../img/user-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: inherit;
    right: inherit;
    font-size: 20px;
    line-height: 20px;
    padding-left: 28px;

    &::before {
      width: 18px;
      height: 20px;
      left: 0;
      background-size: contain;
    }
  }
}

.countries__link {
  height: 62px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    height: 82px;
    padding-top: 31px;
    padding-left: 33px;
    padding-right: 32px;
    padding-bottom: 27px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    grid-area: btn;
    width: 275px;
  }
}
