.counter {
  background-color: $white;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 24px 24px 10px 24px;
  margin: 0 0 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
    border-radius: 30px;
  }

  &--dates {
    @media (min-width: $tablet-width) {
      padding: 48px 40px 56px 40px;
      display: flex;
      flex-direction: column;
    }

    @media (min-width: $desktop-width) {
      padding: 101px 152px 106px 159px;
    }
  }

  &--country {
    padding-top: 22px;
    padding-bottom: 5px;

    .counter__button--next {
      margin-bottom: 7px;
    }

    @media (min-width: $tablet-width) {
      padding: 48px 38px 56px 43px;
    }

    @media (min-width: $desktop-width) {
      padding: 98px 152px 90px 159px;

      .counter__desc {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }

  &--entertainment {
    @media (min-width: $tablet-width) {
      padding: 47px 38px 53px 43px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      padding: 100px 152px 104px 159px;

      .counter__desc {
        margin-bottom: 80px;
      }
    }
  }
}

.counter__inner {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr minmax(251px, max-content);
    grid-template-rows: min-content min-content min-content min-content min-content min-content;
    gap: 0;
    grid-template-areas:
      "title title"
      "description description"
      "company child"
      "date child"
      "calendar calendar"
      "btn btn";
  }
}

.counter__title {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 0 16px;
  float: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: $blue_200;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 35px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    grid-area: title;
    margin-bottom: 33px;

    br {
      display: none;
    }
  }
}

.counter__desc {
  margin: 0 0 20px;
  font-weight: 400;

  br {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 34px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    grid-area: description;
    margin-bottom: 30px;
    padding-bottom: 55px;
    border-bottom: 1px solid $grey_120;
  }
}

.counter__company {
  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    grid-area: company;
  }
}

.counter__date {
  @media (min-width: $tablet-width) {
    order: 5;
  }

  @media (min-width: $desktop-width) {
    grid-area: date;
  }
}

.counter__calendar {
  @media (min-width: $tablet-width) {
    order: 6;
  }

  @media (min-width: $desktop-width) {
    grid-area: calendar;
  }
}

.counter__child {
  @media (min-width: $tablet-width) {
    order: 4;
    height: 36px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    grid-area: child;
  }
}

.counter__select {
  position: relative;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    max-width: inherit;
    margin-bottom: 0;
    padding-bottom: 16px;

    &:first-of-type {
      padding-top: 42px;
      border-top: 1px solid $grey_120;
    }

    &::after {
      content: "";
      position: absolute;
      right: 142px;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: $grey_120;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-of-type {
      padding-top: 62px;
    }

    .counter__select-trigger {
      margin-right: 0;
    }

    &::after {
      right: inherit;
      left: 775px;
    }
  }

  &--more {
    @media (min-width: $tablet-width) {
      .counter__select-trigger {
        margin-right: 169px;
      }
    }

    @media (min-width: $desktop-width) {
      max-width: 730px;

      .counter__select-trigger {
        margin-right: 0;
      }
    }
  }
}

.counter__select-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.counter__textarea {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    max-width: 730px;
  }
}

.counter__delete {
  @include button-reset;

  font-size: 0;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: $grey_100;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.875 1.125L1.125 7.875' stroke='%23AFB0B5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.125 1.125L7.875 7.875' stroke='%23AFB0B5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -10px;
  right: -10px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 22px;
    height: 24px;
    border-radius: 0;
    top: inherit;
    right: inherit;
    margin-left: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 123px;
  }
}

.counter__countries-value {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 42px;
  padding: 9px;
  border: 1px solid $grey_500;
  box-sizing: border-box;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    border: none;
    width: 70px;
    height: 47px;
    margin-left: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 85px;
  }
}

.counter__select-arrow {
  position: absolute;
  right: 49px;
  z-index: 5;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $blue_200;

  &--light {
    border: 1px solid #CBCED9;
    box-sizing: border-box;
    background-color: transparent;
  }
}

.counter__countries-flag {
  @media (min-width: $tablet-width) {
    display: block;
    width: 70px;
    height: 47px;
  }
}

.counter__select-value {
  position: relative;
  padding: 12px 11px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $blue_200;
  overflow: hidden;
  white-space: nowrap;
  width: 76.363%;
  height: 42px;
  border: 1px solid $grey_500;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: -1px;

  &--choice {
    width: 100%;

    &::after {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 9px;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.638485 1.09805C0.569006 1.17667 0.513881 1.27007 0.476269 1.37289C0.438657 1.47571 0.419296 1.58595 0.419296 1.69727C0.419296 1.8086 0.438657 1.91883 0.476269 2.02165C0.513881 2.12448 0.569006 2.21787 0.638485 2.29649L5.59843 7.92308C5.65365 7.98585 5.71924 8.03565 5.79144 8.06963C5.86364 8.1036 5.94105 8.12109 6.01922 8.12109C6.09739 8.12109 6.17479 8.1036 6.247 8.06963C6.3192 8.03565 6.38479 7.98585 6.44001 7.92308L11.4 2.29649C11.6924 1.96472 11.6924 1.42982 11.4 1.09805C11.1075 0.766277 10.8004 1.04112 10.5079 1.37289L7.90792 4.3364L5.99995 6.42412L1.19996 1.09079C1.19996 1.09079 0.92498 0.766277 0.638485 1.09805Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    z-index: 9;
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    width: 52px;
    height: 36px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../img/counter-fade_mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    height: inherit;
    padding-top: 26px;
    padding-bottom: 22px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }

  &--open {
    background-color: $blue_200;
    color: $white;
  }
}

.counter__add-btn {
  @include button-reset;

  background: $grey_100;
  border-radius: 4px;
  height: 42px;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $blue_200;
  margin-bottom: 25px;
  position: relative;
  text-align: left;
  padding-left: 13px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 49px;
    transform: translateY(-50%);
    z-index: 5;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #CBCED9;
    box-sizing: border-box;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='7' x2='7' y2='14' stroke='%23C2C4C9' stroke-width='2'/%3E%3Cline y1='7' x2='14' y2='7' stroke='%23C2C4C9' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    margin-right: 169px;
    height: inherit;
    padding-top: 26px;
    padding-bottom: 22px;
    font-size: 20px;
    line-height: 20px;
    width: auto;
    min-width: 368px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 50px;

    &::after {
      content: "";
      position: absolute;
      right: -27px;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: $grey_120;
    }

    &::before {
      content: "";
      position: absolute;
      right: -27px;
      bottom: -38px;
      width: 1px;
      height: 38px;
      background: linear-gradient(180deg, $grey_375 0%, transparent 100%);
    }
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    margin-bottom: 58px;

    &::after {
      right: -45px;
    }

    &::before {
      right: -45px;
      height: 153px;
      bottom: -153px;
    }
  }
}

.counter__button {
  height: 40px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $blue_200;
  padding-right: 2px;

  &--next {
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      grid-area: btn;
    }
  }

  &--submit {
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    order: 7;
    width: 284px;
    height: 80px;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
    justify-content: flex-start;
    padding-left: 34px;
    border-radius: 20px;
  }

  &--prev {
    @media (min-width: $tablet-width) {
      width: 182px;
    }
  }
}

.counter__select-dropdown {
  display: none;
  border: 1px solid $grey_370;
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: $white;
  z-index: 10;
  position: relative;

  &--open {
    display: block;
    position: absolute;
    width: 100%;
    margin-top: -1px;
    box-shadow: 0 8px 16px $grey_505_018;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      margin-top: 0;
      width: 107.076%;
      display: grid;
      grid-template-columns: 47.897% 181px;
      grid-template-rows: min-content;
      gap: 0;
      grid-template-areas: "letter list";
      justify-content: space-between;
      border: none;
      padding-left: 4.695%;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      padding-bottom: 36px;
      grid-template-columns: 387px 241px;
      padding-top: 34px;
    }
  }
}

.counter__footer {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.counter__textarea-caption {
  @media (min-width: $tablet-width) {
    display: inline-block;
    float: left;
    height: 47px;
    line-height: 47px;
  }
}
