.country-choice__letter-list {
  @include clear_list;

  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-auto-rows: 41px;
  gap: 0 0;
  align-items: center;
  justify-items: center;

  @media (min-width: $tablet-width) {
    grid-area: letter;
    grid-auto-rows: 69px;
    border-left: 1px solid $grey_370;
    border-right: 1px solid $grey_370;
    border-top: 1px solid $grey_370;
    margin-top: 35px;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 26px;
    border: none;
    grid-template-columns: repeat(5, 61px);
    gap: 14px 14px;
    grid-auto-rows: 70px;
    margin-bottom: 35px;
  }
}

.country-choice__letter-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 14px;
  color: $blue_200;
  cursor: pointer;
  border-right: 1px solid $grey_370;
  border-bottom: 1px solid $grey_370;
  box-sizing: border-box;
  text-transform: uppercase;

  &:nth-child(5n+5) {
    border-right: none;

    @media (min-width: $desktop-width) {
      border-right: 1px solid $grey_500;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 4px;
    border: 1px solid $grey_500;
  }

  &:hover {
    border-color: $grey_700;
  }

  &--selected {
    background-color: $grey_100;

    @media (min-width: $tablet-width) {
      background-color: $blue_200;
      color: $white;
    }
  }
}

.country-choice__list {
  @include clear_list;

  padding-top: 18px;
  padding-left: 19px;
  box-sizing: border-box;
  display: none;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    grid-area: list;
    border: 1px solid $grey_370_05;
    padding-top: 35px;
  }

  &--open {
    display: block;
    padding-bottom: 16px;

    @media (min-width: $tablet-width) {
      border: none;
      border-left: 1px solid $grey_370;
      font-size: 20px;
      line-height: 20px;
      padding-right: 10%;
      padding-left: 11.23%;
    }

    @media (min-width: $desktop-width) {
      border-left: none;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 1px;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: $grey_370;
      }
    }
  }

  a {
    text-decoration: none;
    color: $grey;

    &:hover {
      color: $blue_200;
    }

    &:active {
      color: $blue_200_03;
    }
  }
}

.country-choice__item {
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 4px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.country-choice__letter {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: $blue_200;
    margin-bottom: 34px;
  }
}
