.countries {
  position: relative;
  z-index: 8;
  background-color: $grey_100;
  padding-top: 100px;
  padding-bottom: 5px;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 100%;
    background-color: $grey_100;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    @media (min-width: $tablet-width) {
      bottom: -60px;
      height: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }

    @media (min-width: $desktop-width) {
      height: 60px;
      bottom: -60px;
      border-bottom-left-radius: 56px;
      border-bottom-right-radius: 56px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 130px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
    padding-top: 221px;
    margin-top: 0;
  }
}

.countries__wrapper {
  @media (min-width: $tablet-width) {
    width: 80.468%;
    min-width: 618px;
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    width: 288px;
    height: 574px;
    right: -35px;
    top: 0;
    background-image: url("../img/countries-bg-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    display: none;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/countries-bg-tablet@2x.png");
    }

    @media (min-width: $tablet-width) {
      display: block;
      top: 11px;
    }

    @media (min-width: $desktop-width) {
      top: -71px;
      right: 0;
    }
  }


  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 630px 517px;
    grid-template-rows: 104px 263px 80px;
    gap: 0;
    grid-template-areas:
      "list title"
      "list desc"
      "list btn";
    justify-content: space-between;
    width: 1320px;
  }
}

.countries__title {
  margin-left: 9.259%;

  @media (min-width: $tablet-width) {
    margin-left: -2px;
    margin-bottom: 58px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    grid-area: title;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.countries__description {
  margin: 0 0 62px 9%;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    width: 61.165%;
    margin: 0 0 117px;
  }

  @media (min-width: $desktop-width) {
    grid-area: desc;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    width: 350px;
  }
}

.countries__list {
  @include clear_list;

  margin: 0 0 25px;
  position: relative;


  &::before {
    content: "";
    position: absolute;
    left: -36px;
    top: -38px;
    width: 140px;
    height: 140px;
    border-radius: 20px;
    background-color: $grey_150;
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      top: -71px;
      left: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 70px;
    bottom: 0;
    width: 560px;
    height: 81px;
    background-image: url("../img/countries-fade.png");
    background-repeat: no-repeat;
    z-index: 7;
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    grid-area: list;
    padding-left: 70px;
    margin-bottom: 0;
  }
}

.countries__item {
  position: relative;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }

  &--czech {
    .countries__country {
      padding-bottom: 6px;

      @media (min-width: $tablet-width) {
        padding-bottom: 19px;
      }
    }

    .countries__intro {
      @media (min-width: $tablet-width) {
        margin-bottom: 0;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 24px;
      }
    }
  }
}

.countries__cover {
  @include image;
  width: 100%;
  position: relative;
  z-index: 1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 29.935%;
    height: 100%;
    right: 0;
    z-index: 5;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
  }

  @media (min-width: $desktop-width) {
    width: 185px;
  }
}

.countries__flag {
  @include image;
  width: 35px;
  position: absolute;
  left: 25px;
  top: 79px;
  transform: translateY(50%);
  margin-top: -5px;
  z-index: 5;
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
    left: inherit;
    bottom: inherit;
    right: 30.032%;
    top: 22px;
    transform: translateX(35px);
  }

  @media (min-width: $desktop-width) {
    top: 28px;
    right: 152px;
    transform: translateX(0);
  }
}

.countries__country {
  position: relative;
  z-index: 2;
  background-color: $white;
  border-radius: 10px;
  margin-top: -11px;
  padding-top: 25px;
  padding-left: 24px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 29px;
    padding-left: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 22px;
    padding-left: 30px;
    padding-bottom: 23px;
    margin-top: 0;
  }
}

.countries__name {
  margin: 0 0 2px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 4px;
  }
}

.countries__intro {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.countries__visited {
  position: absolute;
  right: 66px;
  transform: translateX(100%);
  top: 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $blue_500_03;

  &::before {
    content: "";
    position: absolute;
    left: -17px;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 12px;
    background-image: url("../img/user-icon.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 20px;
      left: 0;
      background-size: contain;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: inherit;
    right: inherit;
    font-size: 20px;
    line-height: 20px;
    padding-left: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 30px;
  }
}

.countries__link {
  height: 62px;

  &::after {
    @media (min-width: $tablet-width) {
      right: 29px;
      margin-top: 4px;
    }
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    height: 82px;
    padding-top: 28px;
    padding-left: 33px;
    padding-right: 32px;
    padding-bottom: 28px;
    box-sizing: border-box;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-area: btn;
    width: 275px;
  }
}
