.filters {
  margin-bottom: 21px;

  &--open {
    .filters__continents-list {
      display: block;

      @media (min-width: $tablet-width) {
        display: flex;
      }
    }

    .filters__country-choice {
      display: block;

      @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: 55.806% max-content;
        justify-content: space-between;
        grid-template-rows: 1fr;
        gap: 0;
        grid-template-areas: "letters country-list";
        width: 80.729%;
      }

      @media (min-width: $desktop-width) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .filters__close {
      display: block;
    }

    .filters__container {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      padding-bottom: 28px;

      @media (min-width: $desktop-width) {
        padding-bottom: 102px;
      }
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 48px;
    }
  }
}

.filters__container {
  position: relative;
  width: 100%;
  margin: -75px auto 0;
  z-index: -1;
  padding-top: 75px;
  background-color: $grey_150;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  @media (min-width: $tablet-width) {
    display: block;
    border-bottom-right-radius: 56px;
    border-bottom-left-radius: 56px;
  }
}

.filters__navigation {
  position: relative;
  width: 84.375%;
  min-width: inherit;
  margin: 0 auto;
  display: grid;
  grid-template-columns: max-content min-content;
  grid-template-rows: 55px min-content;
  gap: 0;
  grid-template-areas:
    "title btn"
    "list list";
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 80.078%;
    grid-template-areas: "list all btn";
    grid-template-columns: 1fr 135px 30px;
    grid-template-rows: 140px min-content;
    gap: 0 20px;
    justify-content: inherit;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas: "title list all btn";
    grid-template-columns: 323px 1fr 135px 30px;
  }
}

.filters__see-all {
  display: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $blue_400;

  @media (min-width: $tablet-width) {
    display: block;
    grid-area: all;
  }
}

.filters__country-choice {
  display: none;
  width: 68.75%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.filters__choice-list {
  border: none;
  padding-top: 14px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    grid-area: country-list;
    border: none;
    font-size: 20px;
    line-height: 30px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 20%;
    margin-bottom: 50px;
  }
}

.filters__title {
  margin: 0;
  padding-left: 27px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $blue_400;
  grid-area: title;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    background-image: url("../img/filter-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 20px;
    line-height: 20px;
    padding-left: 63px;

    &::before {
      left: 21px;
      width: 23px;
      background-size: contain;
    }
  }
}

.filters__toogle {
  display: block;
  order: 2;
  grid-area: btn;

  @include button-reset;
  position: relative;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: $blue_400;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: $blue_400;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      width: 6px;
      height: 6px;
    }
  }

  &::before {
    right: -7px;

    @media (min-width: $tablet-width) {
      right: -12px;
    }
  }

  &::after {
    right: -14px;

    @media (min-width: $tablet-width) {
      right: -24px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 6px;
    height: 6px;
  }

  &--open {
    &::before,
    &::after {
      content: none;
    }

    width: 16px;
    height: 16px;
    background-image: url("../img/icon_close.svg");
    background-color: transparent;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    @media (min-width: $tablet-width) {
      width: 22px;
      height: 24px;
    }
  }
}

.filters__continents-list {
  @include clear_list;
  display: none;
  margin-bottom: 21px;
  margin-top: 18px;
  grid-area: list;
  width: 81.481%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.filters__continents-item {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $blue_400;
  opacity: 0.3;
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      margin-right: 0;
    }
  }

  &--selected {
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 28px;
    font-size: 20px;
    line-height: 20px;
  }
}

.filters__close {
  @include button-reset;
  display: none;
  width: 270px;
  height: 39px;
  margin: 28px auto 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $blue_400;
  background: $grey_330;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 615px;
    margin: 78px auto 0;
    height: 100px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 80.729%;
    max-width: inherit;
    margin-left: auto;
    margin-right: auto;
  }
}

.filters__country-list {
  border-left: 1px solid $grey_370;
  background-color: $white;

  @media (min-width: $tablet-width) {
    grid-area: letters;
    border: none;
    margin-bottom: 0;
    background-color: transparent;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.filters__letter-item {
  @media (min-width: $tablet-width) {
    background-color: transparent;
    border: none;
    font-size: 60px;
    line-height: 60px;
    color: $blue_200_03;
    width: 20%;
    height: 60px;
    align-items: flex-start;
    justify-content: start;
    margin-bottom: 23px;
  }

  &--selected {
    background-color: $blue_200;
    color: $white;

    @media (min-width: $tablet-width) {
      background-color: transparent;
      border: none;
      color: $blue_200;
    }
  }
}
