.first-screen {
  position: relative;
  margin: 0 auto 0;
  background-color: $blue_500;
  /*
  background-image: url("../img/planet-bg-mobile.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  */
  padding-bottom: 39px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 279px;
    background-color: $blue_400;
  }
}

.first-screen .wrapper {
  display: flex;
  flex-direction: column;
}

.first-screen__title {
  margin: 0 0 245px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $white;
  orphans: 1;
}

.first-screen__review {
  margin: 0 auto 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  order: 3;
  width: 84.3%;
}

.first-screen__review-source {
  width: 84.3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  color: $white;
  order: 4;
}

.first-screen__page-header {
  order: 2;
}

.first-screen__login {
  display: flex;
  width: 190px;
  height: 40px;
  order: 2;
}

.first-screen__steps-list {
  @include clear_list;

  padding: 0;
  order: 5;
}

.first-screen__steps-item {
  position: relative;
  padding: 22px 0 32px 24px;
  color: $blue_500;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: -10px;

  &--choose {
    background-color: $orange_500;
    z-index: 1;
    margin-top: 0;
  }

  &--study {
    background-color: $orange_300;
    z-index: 2;
  }

  &--find {
    background-color: $yellow_300;
    z-index: 3;
  }

  &--travel {
    background-color: $yellow_100;
    z-index: 4;
    padding-bottom: 22px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.first-screen__row {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    display: none;
  }

}

.first-screen__for-user {
  display: flex;
}

.first-screen__contact {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 0;
  padding: 0;

  &--phone {
    background-color: $orange_500;
  }

  &--email {
    background-color: $yellow_300;
  }

  &::before {
    width: 40px;
    height: 40px;
    background-color: transparent;
  }
}
