.input-choice {
  position: relative;

  &--checkbox .input-choice__caption::before {
    border-radius: 4px;
  }

  &:focus {
    outline: none;
  }

  &:focus > .input-choice__caption::before {
    border: 1px solid $grey_500;
    background-color: $white_03;
  }
}

.input-choice__field {
  position: absolute;
  z-index: -1;
  opacity: 0;

  /* checked */
  &:checked + .input-choice__caption {
    &::before {
      background-image: url("../img/checkbox-inner.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  /* hover // checked + hover */
  &:not(:disabled) + .input-choice__caption:hover {
    color: $black_06;

    &::before {
      background-color: $white_06;
    }
  }

  /* active */
  &:not(:disabled) + .input-choice__caption:active {
    color: $black_03;

    &::before {
      opacity: 0.3;
      border: none;
    }
  }

  /* active + checked */
  &:not(:disabled):checked + .input-choice__caption:active {
    &::before {
      opacity: 0.3;
      border: none;
    }
  }

  /* disabled */
  &:disabled + .input-choice__caption {
    color: $black_03;
    pointer-events: none;

    &::before {
      opacity: 0.3;
    }
  }

  /* disabled + checked */
  &:disabled:checked + .input-choice__caption {
    color: $black_03;
    pointer-events: none;

    &::before {
      opacity: 0.3;
    }
  }
}

.input-choice__caption {
  display: inline-flex;
  margin-left: 39px;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: $black;
  cursor: pointer;
  box-sizing: border-box;

  &--blue {
    color: $blue_200;
  }

  &--border::before {
    border: 1px solid $grey_500;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: $white;
  }
}

.company-choice__transport-item {
  .input-choice {
    &:focus {
      outline: none;
    }

    &:focus > .input-choice__caption {
      border: 1px solid $grey_500;
      border-radius: 50%;
      background-color: $white_03;

      &::before {
        border: none;
      }
    }
  }

  .input-choice__caption {
    font-size: 0;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: $white;
    margin-left: 0;
  }

  .input-choice__field {
    & + .input-choice__caption::before {
      width: 31px;
      height: 31px;
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: 0.15;
    }

    /*checked*/
    &:not(:disabled):checked + .input-choice__caption::before {
      opacity: 1;
    }

    /* hover */
    &:not(:disabled) + .input-choice__caption:hover {
      background-color: $white_06;

      &::before {
        background-color: transparent;
      }
    }

    /*active*/
    &:not(:disabled) + .input-choice__caption:active {
      &::before {
        opacity: 0.15;
      }
    }
  }
}
