@mixin link_reset {
  text-decoration: none;
}

@mixin image {
  display: block;
  max-width: 100%;
  height: auto;
}

@mixin clear_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin button-reset {
  font: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
  margin: 0;
}

@mixin fieldset-reset {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
