.page-header {
  grid-area: header;
  background-color: $blue_500;

  &--inner{
    background-color: $blue_300;
  }
}

.page-header__wrapper {
  height: auto;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 53px 1fr 1fr 1fr 1fr;
  gap: 0 0;
  grid-template-areas:
    "logo btn"
    "nav nav"
    "login login"
    "user-for user-for"
    "social social";
}

.page-header__main-navigation,
.page-header__login,
.page-header__for-user,
.page-header__social {
  display: none;
}

.page-header__logotype {
  filter: brightness(0) invert(1);
  grid-area: logo;
  align-self: center;
}

.page-header__toggle {
  grid-area: btn;
  align-self: center;
  position: relative;
  display: block;
  width: 26px;
  height: 15px;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 3px;
    background: $basic_white;
    border-radius: 1.5px;
    left: 0;
  }

  &::before {
    top: 4px;
  }

  &::after {
    bottom: 0;
  }
}

.page-header__login {
  height: 50px;
  grid-area: login;
}

.page-header__main-navigation {
  grid-area: nav;
}

.page-header__for-user {
  grid-area: user-for;
}

.page-header__social {
  grid-area: social;
}

.page-header--open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .page-header__wrapper {
    grid-template-rows: 53px 1fr 1fr 1fr 1fr;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
      background: #ffffff;
    }
  }

  .page-header__main-navigation,
  .page-header__for-user {
    display: block;
  }

  .page-header__logotype {
    filter: none;
  }

  .page-header__login,
  .page-header__social {
    display: flex;
  }

  .page-header__toggle {
    width: 18px;
    height: 19px;

    &::before,
    &::after {
      background-color: $grey_400;
      left: -3px;
    }

    &::before {
      transform: matrix(0.71, -0.73, 0.69, 0.71, 0, 0);
      top: inherit;
    }

    &::after {
      transform: matrix(0.71, 0.73, -0.69, 0.71, 0, 0);
      bottom: inherit;
    }
  }
}
