.page-header {
  grid-area: header;
  padding-bottom: 41px;
  background-color: $blue_500;

  &--inner {
    background-color: $blue_300;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 32px;
  }
}

.page-header__wrapper {
  height: auto;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 53px 1fr 1fr 1fr 1fr;
  gap: 0 0;
  grid-template-areas:
    "logo btn"
    "nav nav"
    "login login"
    "user-for user-for"
    "social social";

  @media (min-width: $tablet-width) {
    grid-template-columns: 23.8% min-content 27.3%;
    grid-template-rows: 132px 1fr 1fr 1fr;
    grid-template-areas:
      "logo btn login"
      "nav nav nav"
      "user-for user-for user-for"
      "social social social";
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 200px 1fr 100px 188px;
    grid-template-rows: 145px;
    grid-template-areas: "logo nav user-for login";
    justify-content: space-between;
  }
}

.page-header__main-navigation,
.page-header__login,
.page-header__for-user,
.page-header__social {
  display: none;
}

.page-header__logotype {
  filter: brightness(0) invert(1);
  grid-area: logo;
  align-self: center;
}

.page-header__toggle {
  grid-area: btn;
  align-self: center;
  position: relative;
  display: block;
  width: 26px;
  height: 15px;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 3px;
    background: $white;
    border-radius: 1.5px;
    left: 0;
  }

  &::before {
    top: 4px;
  }

  &::after {
    bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__login {
  width: 270px;
  height: 50px;
  grid-area: login;
  margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-self: center;
    margin-bottom: 0;
    width: 188px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.page-header__main-navigation {
  grid-area: nav;
  margin-top: 44px;
  margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
    margin-bottom: 144px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.page-header__for-user {
  grid-area: user-for;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 122px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-self: center;
    margin-bottom: 0;
  }
}

.page-header__social {
  grid-area: social;

  @media (min-width: $tablet-width) {
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header--open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .page-header__wrapper {
    grid-template-rows: 74px min-content min-content min-content min-content;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
      background-color: $white;

      @media (min-width: $desktop-width) {
        content: none;
      }
    }

    @media (min-width: $tablet-width) {
      grid-template-rows: 130px min-content min-content min-content min-content;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 200px 1fr 100px 188px;
      grid-template-rows: 145px;
      grid-template-areas: "logo nav user-for login";
      justify-content: space-between;
    }
  }

  .page-header__main-navigation {
    display: block;

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }

  .page-header__for-user {
    display: block;
  }

  .page-header__logotype {
    filter: none;

    @media (min-width: $desktop-width) {
      filter: brightness(0) invert(1);
    }
  }

  .page-header__login {
    display: flex;
  }

  .page-header__social {
    display: flex;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  .page-header__toggle {
    width: 18px;
    height: 19px;

    &::before,
    &::after {
      background-color: $grey_400;
      left: -3px;
    }

    &::before {
      transform: matrix(0.71, -0.73, 0.69, 0.71, 0, 0);
      top: inherit;
    }

    &::after {
      transform: matrix(0.71, 0.73, -0.69, 0.71, 0, 0);
      bottom: inherit;
    }
  }

  @media (min-width: $desktop-width) {
    position: inherit;
    top: inherit;
    left: inherit;
    width: 100%;
    z-index: 1;
    background-color: $blue_500;

    .page-header__for-user {
      display: flex;
    }
  }
}
