.page-container {
  grid-area: main;
}

.page-container__top {
  background-color: $blue_300;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}
