.page-container {
  grid-area: main;
}

.page-container__top {
  background-color: $blue_300;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    position: relative;
  }
}

.page-container__link {
  display: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  position: absolute;
  right: 134px;
  top: 50px;

  @media (min-width: $tablet-width) {
    display: block;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -60px;
      transform: translateY(-10px);
      width: 32px;
      height: 16px;
      background-image:url("../img/icon_arrow_back.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
    margin: 0 auto;
    text-align: right;
    right: 50%;
    transform: translateX(50%);
    top: 67px;
    padding-right: 122px;
    box-sizing: border-box;

    &::after {
      right: 63px;
    }
  }
}

.page-container__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 951px 285px;
    grid-template-rows: auto;
    gap: 0 85px;
    grid-template-areas: "user filter";
    width: 91.66%;
    max-width: 1320px;
    margin: 0 auto;
  }
}
