.page-footer {
  position: relative;
  z-index: 3;
  grid-area: footer;
  padding-bottom: 18px;
  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 100%;
    background-color: $white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    @media (min-width: $tablet-width) {
      top: -46px;
      height: 46px;
      border-top-left-radius: 56px;
      border-top-right-radius: 56px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 43px;
  }
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logotype {
  display: block;
  width: 35.555%;
  margin: 6px auto 40px;

  img {
    margin: 0 auto;
    width: 96px;

    @media (min-width: $tablet-width) {
      width: 164px;
    }

    @media (min-width: $desktop-width) {
      width: 200px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 23.837%;
  }

  @media (min-width: $desktop-width) {
    width: 15.151%;
  }
}

.page-footer__social {
  position: relative;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: -7px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -45px;
  }
}

.page-footer__developer {
  height: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 16px;
  cursor: pointer;
}

.page-footer__developer-link {
  @include link_reset;

  color: $grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-right: 0;
    margin-top: -6px;
  }
}

.page-footer__developer-logo {
  @include image;
  margin-left: 16px;

  @media (min-width: $tablet-width) {
    margin-left: 24px;
  }
}

.page-footer__img {
  &--mobile {
    display: block;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      width: 200px;
      height: 55px;
      content: url("../img/pognali-logotype-desktop-blue.png");
    }
  }
}
