.pagination {
  @include clear_list;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.pagination__item {
  margin-right: 16px;

  &:last-of-type {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 29px;
  }

  &--user-choice {
    @media (min-width: $tablet-width) {
      margin-right: 0;
    }
  }

  &--active {
    .pagination__link {
      background-color: $yellow_100;
    }
  }
}

.pagination__btn {
  @include button-reset;

  display: flex;
  text-align: center;
  background-color: transparent;
  width: fit-content;
  box-sizing: border-box;

  &--circle {
    width: 5px;
    height: 5px;
    background-color: $blue_200;
    opacity: 0.3;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 6px;
      height: 6px;
    }
  }

  &--current {
    opacity: 1;
  }
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: $blue_200;
  text-decoration: none;

  &:hover {
    color: $blue_200_06;
  }

  &:active {
    background-color: $yellow_100;
  }
}
