.planned {
  position: relative;
  margin-top: 64px;
  background-color: $grey_300;
  padding-bottom: 59px;

  &::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 100%;
    background-color: $grey_300;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    @media (min-width: $desktop-width) {
      top: -54px;
      height: 54px;
      border-top-left-radius: 56px;
      border-top-right-radius: 56px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 117px;
    padding-bottom: 106px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 121px;
  }
}

.planned__wrapper {
  @media (min-width: $tablet-width) {
    width: 80.468%;
    min-width: 618px;
  }
  @media (min-width: $desktop-width) {
    width: 100%;
    padding-left: 64px;
  }
}

.planned__list {
  @include clear_list;
}

.planned__item {
  display: flex;
  flex-direction: column;
  padding: 24px 25px 23px;
  background-color: $white;
  border-radius: 10px;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "name name name"
      "count date btn";
    padding: 40px 0 14px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "name count date btn";
    padding: 36px 42px 36px 43px;
    margin-bottom: 15px;
  }
}

.planned__edit {
  @include button-reset;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $black_03;
  text-align: left;
  background-color: transparent;
  width: fit-content;
  padding: 10px 15px 10px 0;

  @media (min-width: $tablet-width) {
    grid-area: btn;
    justify-self: end;
    padding: 0 40px 0 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    width: fit-content;
  }
}

.planned__country {
  display: block;
  margin-bottom: 20px;
  position: relative;
  padding-left: 18px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: $blue_200;

  &::before {
    content: attr(data-num);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      left: inherit;
      right: 40px;
    }

    @media (min-width: $desktop-width) {
      left: 0;
      right: inherit;
      font-weight: 500;
    }
  }

  @media (min-width: $tablet-width) {
    grid-area: name;
    font-size: 24px;
    line-height: 24px;
    padding-left: 0;
    padding-bottom: 34px;
    margin-bottom: 0;
    border-bottom: 1px solid $grey_500_03;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
    padding: 0 0 0 53px;
  }
}

.planned__info {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $blue_200;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  &--company {
    margin-bottom: 5px;

    @media (min-width: $tablet-width) {
      grid-area: count;
      padding-left: 40px;
    }
  }

  &--date {
    @media (min-width: $tablet-width) {
      grid-area: date;
    }
  }
}

.planned__title {
  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    padding-top: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin-bottom: 49px;
  }
}
