.prices {
  position: relative;
  padding-top: 67px;
  background-color: $grey_100;
  z-index: 5;
  padding-bottom: 8px;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 100%;
    background-color: $grey_100;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    @media (min-width: $tablet-width) {
      bottom: -60px;
      height: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 173px;
    padding-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 107px;
    padding-top: 159px;
  }
}

.prices__wrapper {
  padding-left: 25px;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: -15px;
    width: 100px;
    height: 100px;
    background-image: url("../img/rates.png");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: inherit;
      bottom: -16px;
      right: 44px;
      z-index: 2;
    }

    @media (min-width: $desktop-width) {
      width: 198px;
      height: 198px;
      background-image: url("../img/rates-desktop.png");
      bottom: 100px;
      right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    width: 89.583%;
    min-width: 688px;
  }

  @media (min-width: $desktop-width) {
    width: 1177px;
  }
}

.prices__title {
  margin-top: 16px;
  margin-bottom: 56px;
  padding-right: 160px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    text-align: center;
    margin-bottom: 33px;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 0;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 136px;
  }
}

.prices__list {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    right: -35px;
    top: -41px;
    width: 198px;
    height: 285px;
    border-radius: 20px;
    background-color: $grey_150;
    z-index: -1;
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      right: 0px;
    }

    @media (min-width: $desktop-width) {
      width: 446px;
      height: 300px;
      top: -51px;
      right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    padding-right: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 111px;
    margin-bottom: 30px;
    padding-right: 0;
  }
}

.prices__tariffs {
  margin-bottom: 29px;
  position: relative;

  &::before {
    content: attr(data-number);
    position: absolute;
    right: 0;
    top: -9px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: $white;

    @media (min-width: $tablet-width) {
      transform: translateY(-50%);
    }
  }

  &--base-rate {
    &::before {
      background-color: $orange_500;
    }
  }

  &--first-positions {
    &::before {
      background-color: $yellow_300;
    }
  }

  &--custom-design {
    &::before {
      background-color: $yellow_100;
    }
    @media (min-width: $tablet-width) {
      margin-top: 2px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
    margin-left: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 19px;
    margin-bottom: 0;
    border-top: 1px solid $grey_120;

    &::before {
      left: -90px;
      top: 50%;
      width: 68px;
      height: 68px;
      font-weight: 400;
      font-size: 28px;
      line-height: 28px;
      right: inherit;
    }

    &:last-of-type {
      border-bottom: 1px solid $grey_120;
    }
  }
}

.prices__tariffs-value {
  margin: 0;
  z-index: 1;

  @media (min-width: $desktop-width) {
    width: 446px;
    text-align: right;
    margin-right: 161px;
  }
}

.prices__tariffs-name {
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.prices__business {
  @include link_reset;

  display: block;
  color: $blue_100;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin-top: 43px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0;
    margin-left: 90px;
    position: relative;
    margin-top: 32px;

    &::before {
      content: "";
      position: absolute;
      left: -90px;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 68px;
      height: 68px;
      border-radius: 50%;
      transform: translateY(-50%);
      background-color: $grey_150;
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.3758 23.2418V19.8933C23.3758 18.9558 23.2418 18.0182 22.7061 17.0806C22.1703 16.143 21.5006 15.3394 20.5631 14.8036C19.6255 14.1339 17.6164 14 16.6788 14L14.5358 16.277L15.3394 18.0182V22.0364L14 23.5097L12.6606 22.0364V18.0182L13.5982 16.277L11.3212 14C10.2497 14 8.24063 14.1339 7.30306 14.8036C6.36548 15.3394 5.82972 16.143 5.29396 17.0806C4.75821 18.0182 4.62427 18.8218 4.62427 19.8933V23.2418C4.62427 23.2418 8.10669 24.7151 14 24.7151C19.8934 24.7151 23.3758 23.2418 23.3758 23.2418Z' fill='%23132576'/%3E%3Cpath d='M14 3.41895C11.4551 3.41895 9.98178 5.82985 10.3836 8.50864C10.7854 11.1874 12.1248 13.0626 14 13.0626C15.8751 13.0626 17.2145 11.1874 17.6163 8.50864C18.0181 5.69592 16.5448 3.41895 14 3.41895Z' fill='%23132576'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
