.registration {
  position: relative;
  z-index: 4;
  background-color: $blue_400;
  padding-top: 105px;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 100%;
    background-color: $blue_400;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    @media (min-width: $tablet-width) {
      bottom: -60px;
      height: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 140px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 47px;
    padding-top: 208px;
  }
}

.registration__wrapper {
  @media (min-width: $tablet-width) {
    width: 80.468%;
    min-width: 618px;
  }

  @media (min-width: $desktop-width) {
    width: 81.527%;
  }
}

.registration__form {
  position: relative;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.registration__description {
  text-align: center;
  color: $white;
  margin: 0 0 29px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.registration__break--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.registration__break--tablet {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.registration__link {
  @include link_reset;

  color: $yellow_100;
}

.registration__title {
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.registration__text-field {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.registration__submit {
  width: 60px;
  height: 62px;
  background: $yellow_100;
  border-radius: 20px;
  position: absolute;
  right: 0;
  top: 0;

  &::after {
    content: "";
    position: absolute;
    right: 23px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7L0 13.0622L0 0.937822L12 7Z' fill='%231D2E5B'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    height: 80px;
    width: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 330px;
    height: 81px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    justify-content: flex-start;
  }
}

.registration__submit-value {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    padding-left: 36px;
  }
}

.registration__ask {
  margin: 0 0 17px;
  text-align: center;
  letter-spacing: 0.01em;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 40px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 43px;
  }
}

.registration__for-user {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 868px;
    margin-left: auto;
    margin-right: auto;
  }
}
