.social {
  @include clear_list;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--footer {
    background-color: transparent;
  }

  &--yellow {
    background-color: $yellow_100;

    &:hover {
      background-color: $yellow_300;
    }

    &:active {
      background-color: $yellow_300;

      &::after {
        opacity: 0.3;
      }
    }
  }

  &--facebook {
    &::after {
      width: 11px;
      height: 21px;
      background-image: url("../img/icon_facebook.svg");

      @media (min-width: $tablet-width) {
        width: 14px;
        height: 28px;
      }
    }
  }

  &--vk {
    &::after {
      background-image: url("../img/icon_vkontakte.svg");
      width: 23px;
      height: 12px;

      @media (min-width: $tablet-width) {
        width: 29px;
        height: 18px;
      }
    }
  }

  &--instagram {
    &::after {
      background-image: url("../img/icon_instagram.svg");
      width: 18px;
      height: 18px;

      @media (min-width: $tablet-width) {
        width: 23px;
        height: 23px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 62px;
    height: 62px;
  }
}
