.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $basic_yellow;
}

.social__link {

}

.social__link--colored {

}

.social__link--facebook {

}

.social__link--vk {

}
.social__link--instagram {

}
