.social {
  @include clear_list;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  &--yellow {
    background-color: transparent;
  }

  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
  }

  &--facebook {
    background-image: url("../img/icon_facebook.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--vk {
    background-image: url("../img/icon_vkontakte.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--instagram {
    background-image: url("../img/icon_instagram.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
