.textarea {
  display: block;
  margin-bottom: 27px;

  &:last-of-type {
    margin-bottom: 22px;
  }
}

.textarea__caption {
  display: block;
  margin: 0 0 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: $blue_200;
}

.textarea__field {
  width: 100%;
  height:  220px;
  padding: 10px 14px;
  resize: none;
  border: 1px solid #CBCED9;
  box-sizing: border-box;
  border-radius: 4px;
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  &::placeholder {
    opacity: 0.3;
  }
}
