.title {
  position: relative;
  margin: 0 auto 19px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $orange_500;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 55px;
    width: 89.58%;
    min-width: 688px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1320px;
    margin: 0 auto;
    font-size: 36px;
    line-height: 36px;
  }

  &--page {
    font-size: 36px;
    line-height: 36px;
    padding-top: 40px;
    padding-bottom: 11px;
    padding-left: 27px;
    box-sizing: border-box;
    color: $white;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      top: 0;
      bottom: -7px;
      z-index: -1;
      background-color: $yellow_100;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    @media (min-width: $tablet-width) {
      padding-top: 30px;
      padding-bottom: 66px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 46px;
      padding-bottom: 68px;
    }
  }

  &--blue {
    color: $blue_200;
  }

  &--catalog {
    margin-bottom: 0;

    &::before {
      background-color: $grey_150;
    }
  }

  &--inner {
    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }

  &--form{
    @media (min-width: $desktop-width){
      width: 1161px;
      margin: 0 auto;
    }
  }
}

.title__value {
  position: relative;
  display: inline-block;


  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    background: $orange_500;
    border-radius: 4px;
    bottom: -13px;

    @media (min-width: $tablet-width) {
      bottom: -68px;
    }
  }
}
