.user {
  position: relative;

  &--choice {
    display: grid;
    grid-template-columns: 25.925% 1fr 6px;
    grid-template-rows: max-content max-content max-content max-content max-content max-content;
    gap: 13px 16px;
    grid-template-areas:
      "photo name status"
      "photo count-like status"
      "tags tags tags"
      "wants wants wants"
      "transport-level transport-level transport-level"
      "btn btn btn";
    box-sizing: border-box;
    padding: 15px 20px 23px 18px;
    background-color: $white;
    border-radius: 20px;
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      padding: 35px 25px 25px 35px;
      display: grid;
      grid-template-columns: 34.92% 31.904% 8.73% 24.603%;
      grid-template-rows: 30px 111px 50px max-content;
      gap: 0 0;
      grid-template-areas:
        "photo name status transport-level"
        "photo tags tags transport-level"
        "photo btn count-like transport-level"
        "wants wants wants wants";
    }
  }
}

.user__wrapper {
  padding-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 40px min-content min-content;
  gap: 18px 35px;
  grid-template-areas:
    "level pic"
    "btn btn"
    "tag tag"
    "transport transport";

  @media (min-width: $tablet-width) {
    min-width: 618px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    gap: 51px 0;
    grid-template-areas:
      "level transport user-pic"
      "btn btn btn"
      "tag tag tag";
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-left: 64px;
    box-sizing: border-box;
    margin: -190px auto 0;
    padding-top: 0;
    grid-template-columns: 1fr 1fr 1fr 284px;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      ". . level user-pic"
      "tag tag transport transport";
    gap: 27px 44px;
  }
}

.user__level {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid $orange_500;
  color: $blue_500;
  grid-area: level;

  @media (min-width: $tablet-width) {
    grid-area: level;
    width: 94px;
    height: 94px;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    color: $white;
    justify-self: end;
    width: 95px;
    height: 95px;
    margin-top: 47px;
  }

  &::after {
    content: "";
  }

  b {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    border-bottom: 1px solid $white_03;

    @media (min-width: $tablet-width) {
      font-size: 38px;
      line-height: 38px;
    }
  }

  &--sticker {
    position: absolute;
    top: 17px;
    left: 17px;
    width: 60px;
    height: 60px;
    color: $white;
    background-color: $black_06;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      font-size: 14px;
      line-height: 14px;

      b {
        font-size: 24px;
        line-height: 24px;
      }
    }

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      font-size: 14px;
      line-height: 14px;
    }
  }

  &--small {
    width: 45px;
    height: 45px;

    span {
      display: none;
    }
  }

  &--choice {
    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;

      b {
        font-size: 24px;
        line-height: 24px;
      }

      span {
        display: block;
        font-size: 14px;
        line-height: 14px;
        color: $black;
        opacity: 0.4;
      }
    }
  }
}

.user__pic {
  @include image;

  display: block;
  grid-area: img;

  &--thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 70px;

    @media (min-width: $tablet-width) {
      width: 94px;
      height: 94px;
      border-radius: 7px;
    }

    @media (min-width: $desktop-width) {
      width: 190px;
      height: 190px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &--middle {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &--choice {
    grid-area: photo;
    width: 100%;

    @media (min-width: $tablet-width) {
      margin-right: 13.637%;
      width: 86.363%;
    }
  }
}

.user__edit-pic {
  grid-area: btn;
  height: 40px;
  background-color: $grey_300;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;

  @media (min-width: $tablet-width) {
    height: 60px;
    border-radius: 10px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.user__container {
  position: relative;
  margin-top: 9px;
  border: 1px solid $grey_500;
  box-sizing: border-box;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;

  &--tags {
    grid-area: tag;

    @media (min-width: $tablet-width) {
      padding-top: 36px;
      padding-bottom: 22px;
      padding-left: 40px;
      padding-right: 40px;
      box-sizing: border-box;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 14px;
      padding-left: 39px;
      padding-right: 39px;

      .user__tags {
        text-align: left;
      }

      .user__caption {
        left: 21px;
        transform: none;
      }
    }
  }

  &--transport {
    grid-area: transport;

    @media (min-width: $tablet-width) {
      padding-top: 26px;
      padding-bottom: 26px;
      padding-left: 68px;
      padding-right: 67px;
      box-sizing: border-box;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.user__wants-list {
  @include clear_list;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
  background-color: $white;

  &--above {
    margin-top: -12px;
  }

  &--column {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 19px;

    .user__wants-item {
      display: flex;
      margin-bottom: 10px;
    }

    .user__wants-title {
      order: 2;
      margin-left: 14px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }
}

.user__wants-item {
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0;
  }
}

.user__wants-country {
  @include image;

  display: block;
}

.user__country {
  &--choice {
    grid-area: wants;

    @media (min-width: $tablet-width) {
      padding: 0;
      margin-top: 22px;
    }

    .user__block-title {
      @media (min-width: $tablet-width) {
        margin-left: 50px;
        padding: 0 10px;
        width: fit-content;
        font-size: 15px;
        line-height: 16px;
        background-color: $white;
        position: relative;
        z-index: 2;
      }
    }

    .user__wants-list {
      @media (min-width: $tablet-width) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: $grey_100;
          left: 0;
          top: -28px;
          z-index: 1;
        }
      }
    }
  }
}

.user__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 25px 21px;

  @media (min-width: $desktop-width) {
    padding: 0 25px 27px;
  }
}

.user__name {
  grid-area: name;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $blue_200;

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 21px;
  }

  &--choice {
    grid-area: name;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 30px;

      br {
        display: none;
      }
    }
  }
}

.user__tags {
  margin: 0 0 14px;
  text-align: center;
  line-height: 18px;

  &--faded {
    opacity: 0.6;
  }

  &--left {
    text-align: left;
  }

  @media (min-width: $tablet-width) {
    grid-area: tag;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 22px;
  }

  &--choice {
    grid-area: tags;
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      padding: 20px 0 0;
    }
  }
}

.user__transport-list {
  @include clear_list;

  display: flex;
  justify-content: center;

  &--left {
    justify-content: flex-start;
  }

  @media (min-width: $tablet-width) {
    grid-area: transport;
    align-self: center;
  }
}

.user__transport-item {
  position: relative;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  margin-right: 1px;
  background-color: $grey_100;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.15;

    @media (min-width: $tablet-width) {
      width: 43px;
      height: 43px;
    }

    @media (min-width: $desktop-width) {
      width: 45px;
      height: 45px;
    }
  }

  &--avia::before {
    background-image: url("../img/avia.svg");
  }

  &--bus::before {
    background-image: url("../img/bus.svg");
  }

  &--bike::before {
    background-image: url("../img/bike.svg");
  }

  &--foot::before {
    background-image: url("../img/foot.svg");
  }

  &--active::before {
    opacity: 1;
  }

  &--index {
    background-color: transparent;
    width: 25px;
    height: 25px;

    &::before {
      width: 25px;
      height: 25px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 43px;
    height: 43px;
  }
}

.user__pic-block {
  .user__edit-pic {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-area: user-pic;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.user__to-call {
  width: 230px;
  height: 40px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;

  &--choice {
    grid-area: btn;

    @media (min-width: $tablet-width) {
      width: 150px;
      margin: 0;
    }
  }
}

.user__top {
  position: relative;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 48px 22px;
  gap: 0 16px;
  grid-template-areas:
    "img name"
    "img count";
  padding-left: 18px;
  padding-right: 22px;
  margin-bottom: 13px;
}

.user__status {
  position: absolute;
  top: 8px;
  right: 22px;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $red_100;

  &--online {
    background-color: $green_100;
  }

  &--choice {
    grid-area: status;
    position: relative;
    right: inherit;
    top: inherit;
    align-self: center;
  }
}

.user__like {
  position: relative;
  grid-area: count;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -35px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: $grey_50;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -35px;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    background-image: url("../img/like.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--active::after {
    background-image: url("../img/like-active.svg");
  }

  &--choice {
    grid-area: count-like;
    margin-top: -13px;
    display: flex;
    align-items: center;

    &::before {
      @media (min-width: $tablet-width) {
        width: 50px;
        height: 50px;
        left: -50px;
      }
    }

    &::after {
      @media (min-width: $tablet-width) {
        width: 20px;
        height: 17px;
        left: -35px;
        background-size: contain;
      }
    }
  }
}

.user__like-count {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $blue_500;

  &--choice {
    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      margin-left: 5px;
    }
  }
}

.user__block-title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: $grey;
}

.user__wants-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: $blue_200;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.user__bottom {
  display: flex;
  margin-bottom: 13px;

  .user__transport-list {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .user__transport-block {
    flex-grow: 1;
  }

  &--choice {
    grid-area: transport-level;
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      flex-direction: column;
      padding: 0;
    }

    .user__block-title {
      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    .user__transport-list {
      @media (min-width: $tablet-width) {
        flex-direction: column;
        padding: 0;
        margin-left: 60.389%;
      }
    }

    .user__transport-item {
      @media (min-width: $tablet-width) {
        margin-left: 18px;
        background-color: transparent;
        width: 26px;
        height: 26px;

        &--avia {
          height: 22px;
          margin-bottom: 11px;

          &::before {
            width: 23px;
            height: 22px;
            background-size: contain;
          }
        }

        &--bus {
          height: 20px;
          margin-bottom: 7px;

          &::before {
            width: 19px;
            height: 20px;
            background-size: contain;
          }
        }

        &--bike {
          height: 25px;
          margin-bottom: 9px;

          &::before {
            width: 26px;
            height: 25px;
            background-size: contain;
          }
        }

        &--foot {
          height: 24px;

          &::before {
            width: 23px;
            height: 24px;
            background-size: contain;
          }
        }
      }
    }

    .user__level-block {
      @media (min-width: $tablet-width) {
        margin-left: 60.389%;
      }
    }
  }
}

.user__caption {
  @media (min-width: $tablet-width) {
    position: absolute;
    margin: 0;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 20px;
  }
}
