.user-search {
  display: grid;
  grid-template-columns: 30.172% 1fr;
  grid-template-rows: max-content minmax(25px, auto) max-content max-content max-content max-content;
  gap: 0;
  grid-template-areas:
    "photo name"
    "photo count-like"
    "tags tags"
    "wants wants"
    "transport-level transport-level"
    "btn btn";
  box-sizing: border-box;
  padding: 14px 21px 23px 18px;
  background-color: $white;
  border-radius: 20px;
  margin-bottom: 9px;


  @media (min-width: $tablet-width) {
    padding: 31px 25px 5px 35px;
    grid-template-columns: 34.92% 31.904% 8.73% 24.603%;
    grid-template-rows: minmax(30px, auto) minmax(111px, auto) minmax(50px, auto) max-content;
    gap: 0 0;
    grid-template-areas:
      "photo name name transport-level"
      "photo tags tags transport-level"
      "photo btn count-like transport-level"
      "wants wants wants wants";
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 43px 0 0;
    grid-template-columns: 340px 150px 122px 297px;
    grid-template-rows: minmax(93px, auto) minmax(94px, auto) minmax(98px, auto);
    grid-template-areas:
      "photo name name wants"
      "photo tags tags wants"
      "photo btn count-like transport-level";
    margin-bottom: 31px;
  }

  &:hover {
    filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.16));
    padding-bottom: 0;

    .user-card__info {
      padding-bottom: 16px;
    }

    .user__photo {
      transform: scale(1.02);
      transition: all 0.5s ease-out;
    }
  }
}

.user-search__tags {
  grid-area: tags;
  margin: 13px 0 10px;
  max-width: 90.909%;
  font-size: 15px;
  padding-left: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 23px;
    max-width: 100%;
    padding: 0 6px;
    color: $black;
    margin-top: 19px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    color: $black;
    padding-left: 8px;
    margin-top: 4px;
  }
}

.user-search__photo-block {
  overflow: hidden;
  grid-area: photo;
}

.user-search__photo {

  width: 100%;
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    margin-right: 13.637%;
    width: 86.363%;
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 285px;
    margin-right: 36px;
    padding-top: 0;
  }
}

.user-search__photo-value {
  @include image;
  width: 100%;
  border: 50%;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.user-search__name-block {
  grid-area: name;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    width: max-content;
    max-width: 100%;
  }
}

.user-search__name {
  font-size: 20px;
  line-height: 20px;
  margin-left: 16px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;
    margin-left: 3px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
    margin-bottom: 18px;
    padding-left: 5px;
  }
}

.user-search__to-call {
  width: 230px;
  height: auto;
  min-height: 40px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  grid-area: btn;
  align-self: self-start;
  padding: 10px;

  @media (min-width: $tablet-width) {
    width: 150px;
    min-height: 50px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.user-search__like {
  position: relative;
  cursor: pointer;
  grid-area: count-like;
  display: flex;
  align-items: center;
  margin-left: 16px;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -35px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $grey_150;

    @media (min-width: $tablet-width) {
      width: 50px;
      height: 50px;
      left: -50px;
      top: 50%;
      transform: translateY(-50%);
    }

    @media (min-width: $desktop-width) {
      left: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
    width: 30px;
    height: 30px;
    background-image: url("../img/like.svg");
    background-size: 13px 11px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;

    @media (min-width: $tablet-width) {
      width: 21px;
      height: 19px;
      left: -35px;
      background-size: contain;
      background-size: 20px 18px;
    }

    @media (min-width: $desktop-width) {
      left: 14px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    height: 50px;
  }

  &:hover {
    &::before {
      background-color: $grey_150;
    }

    &::after {
      opacity: 0.5;
    }
  }

  &:active {
    &::before {
      background-color: $grey_150;
    }

    &::after {
      opacity: 0.1;
    }
  }

  &--active {
    &::after {
      background-image: url("../img/like-active.svg");
      opacity: 1;
    }

    &::before {
      background-color: $grey_50;
    }

      &:hover {
        &::before {
          background-color: $pink_100;
        }

        &::after {
          opacity: 1;
        }
      }

      &:active {
        &::before {
          background-color: $pink_100;
        }

        &::after {
          opacity: 0.3;
        }
      }
  }
}

.user-search__count {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: $blue_500;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-left: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 57px;
  }
}

.user-search__caption {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: $grey;

  @media (min-width: $desktop-width) {
    display: none;
  }

  &--inline {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--wants {
    @media (min-width: $tablet-width) {
      margin-left: 39px;
      padding: 0 10px;
      width: fit-content;
      font-size: 15px;
      line-height: 16px;
      background-color: $white;
      position: relative;
      z-index: 2;
    }
  }

  &--transport {
    padding-left: 1px;
    margin-bottom: 17px;
    margin-left: 8px;
  }

  &--level {
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 11px;
  }
}

.user-search__status {
  grid-area: status;
  position: absolute;
  right: 1px;
  top: 10px;

  @media (min-width: $tablet-width) {
    right: -36px;
    top: 13px;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    margin-right: 0;
    top: 11px;
    left: -19px;
  }
}

.user-search__wants-block {
  grid-area: wants;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.user-search__wants {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 18px;
  padding-bottom: 0;
  min-height: 58px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 16px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $grey_100;
      left: 0;
      top: -28px;
      z-index: 1;

      @media (min-width: $desktop-width) {
        content: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 65px;
    margin-top: 50px;
  }
}

.user-search__wants-item {
  display: flex;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    margin-right: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }
}

.user-search__wants-title {
  order: 2;
  margin-left: 13px;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: $blue_200;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 15px;
  }
}

.user-search__group {
  display: flex;
  grid-area: transport-level;
  margin-bottom: 14px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-left: 57px;
    justify-content: space-between;
  }

  &--transport-level {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.user-search__level-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    margin-left: 60.389%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.user-search__transport-block {
  flex-grow: 1;

  @media (min-width: $desktop-width) {
    flex-grow: inherit;
  }
}

.user-search__level {
  grid-area: level;
  justify-self: end;
  width: 45px;
  height: 45px;

  b {
    color: $blue_200;
  }

  span {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      color: $black;
      opacity: 0.4;
    }
  }

  @media (min-width: $tablet-width) {
    justify-self: start;
    width: 60px;
    height: 60px;
  }

  @media (min-width: $desktop-width) {
    justify-self: end;
    margin-top: -3px;
    margin-right: 3px;
  }
}

.user-search__wants-flag {
  width: 26px;
  height: 18px;
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    width: 35px;
    height: 24px;
    border-radius: 3px;
  }
}

.user-search__transport-list {
  justify-content: flex-start;
  margin-left: 2px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin-left: 60.389%;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin-left: 0;
  }
}
