/*white*/
$white: #ffffff;
$white_06: rgba(255, 255, 255, 0.6);
$white_03: rgba(255, 255, 255, 0.3);
/*black*/
$black: #000000;
$black_06: rgba(0, 0, 0, 0.6);
$black_05: rgba(0, 0, 0, 0.5);
$black_03: rgba(0, 0, 0, 0.3);
$black_02: rgba(0, 0, 0, 0.2);
$black_024: rgba(0, 0, 0, 0.24);
$black_01: rgba(0, 0, 0, 0.1);
$black_014: rgba(0, 0, 0, 0.14);
/*grey*/
$grey: #444444;
$grey_03: rgba(68, 68, 68, 0.3);
$grey_05: rgba(68, 68, 68, 0.5);
$grey_50: #f9eaea;
$grey_70: #f3f4f8;
$grey_100: #edeff6;
$grey_120: #e1e3e9;
$grey_125: #e2e5f1;
$grey_150: #e2e5f2;
$grey_200: #e5e5e5;
$grey_300: #dfe3f0;
$grey_330: #d6daed;
$grey_350: #d4d9eb;
$grey_370: #d6d9e6;
$grey_373: #d9d9d9;
$grey_375: rgba(225, 227, 233, 1);
$grey_370_05: rgba(214, 217, 230, 0.5);
$grey_390: #d1d7e9;
$grey_400: #cccccc;
$grey_430: #c4c4c4;
$grey_450: #c8cee8;
$grey_500: #cbced9;
$grey_500_03: rgba(203, 206, 217, 0.3);
$grey_505_018: rgba(54, 80, 148, 0.18);
$grey_605_017:rgba(22, 28, 53, 0.17);
$grey_550: #b2b2b2;
$grey_600: #aeb4cb;
$grey_700: #959bb2;
/*blue*/
$blue_100: #132576;
$blue_100_07: rgba(19, 37, 118, 0.7);
$blue_100_03: rgba(19, 37, 118, 0.3);
$blue_200: #1d2e5b;
$blue_200_014: rgba(29, 46, 91, 0.14);
$blue_200_015: rgba(29, 46, 91, 0.15);
$blue_200_01: rgba(29, 46, 91, 0.1);
$blue_200_02: rgba(29, 46, 91, 0.2);
$blue_200_03: rgba(29, 46, 91, 0.3);
$blue_200_06: rgba(29, 46, 91, 0.6);
$blue_200_07: rgba(29, 46, 91, 0.7);
$blue_220: #1a213e;
$blue_250: #141b3b;
$blue_300: #182044;
$blue_400: #192144;
$blue_400_03: rgba(25, 33, 68, 0.3);
$blue_500: #161c35;
$blue_500_03: rgba(22, 28, 53, 0.3);
$blue_600: #121936;
$blue_700: #101d41;
/*yellow*/
$yellow_100: #ffd74b;
$yellow_100_03: rgba(255, 215, 75, 0.3);
$yellow_300: #ffbd30;
$yellow_500: #f3c72b;
/*orange*/
$orange_300: #ffa530;
$orange_500: #ff8d30;
$orange_700: #f26926;
$orange_900: #ff5c23;
/*red*/
$red: #ff0000;
$red_10: #ffefef;
$red_50: #f3dddd;
$red_100: #f97676;
$red_200: #f47e7e;
/*pink*/
$pink_100: #f9d8d8;
/*green*/
$green_100: #bbf085;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
