$basic_black: #000000;
$basic_black_06: rgba(0, 0, 0, 0.6);
$basic_grey: #444444;
$basic-grey_light: #cccccc;
$grey_100: #EDEFF6;
$basic_blue_dark: #161C35;
$basic_blue: #192144;
$basic_blue_light: #1D2E5B;
$blue-100: #132576;
$basic_yellow: #FFD74B;
$special_yellow_dark: #FFBD30;
$special_orange: #FF8D30;
$special_orange_light: #FFA530;
$basic_white: #ffffff;

