.wrapper {
  width: 84.3%;
  min-width: 270px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 89.58%;
    min-width: 688px;
  }

  @media (min-width: $desktop-width) {
    width: 91.66%;
    min-width: 1320px;
  }

}
